.hingeContainer {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: var(--color-off-black);
  padding: 0 10px;
}

.hinge {
  position: relative;
  width: 100%;
  height: 10px;
  padding: 0 10px;
  background: url("./images/hinge.svg") repeat-x left center;
  background-size: 30px auto;
  filter: drop-shadow(0 1px 2px hsl(0 0% 0% / 0.75));
}
