.vintageLedInput {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.vintageLed {
  position: relative;
  border: 2px solid var(--color-white-50);
  border-radius: 50%;
  /* box-shadow: inset 0 0 10px rgb(0 0 0 / 50%); */
  transition: all 0.3s ease;
}

.vintageLedInner {
  position: absolute;
  top: 52.5%;
  left: 50%;
  width: 90%;
  height: 90%;
  overflow: hidden;
  background: currentcolor;
  border-radius: 50%;
  opacity: 0.25;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    background: var(--color-white-40);
    border-radius: 50% 50% 0 0;

    /* filter: blur(1px); */
    transition: opacity 0.15s ease;
    content: "";
  }
}

.vintageLedReflection {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-white-75);
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity 0.15s ease;
  filter: blur(3px);
}

/* Sizes */
.vintageLedSmall {
  width: 12px;
  height: 12px;
}

.vintageLedMedium {
  width: 20px;
  height: 20px;
}

.vintageLedLarge {
  width: 28px;
  height: 28px;
}

/* Just for the red LED */
.vintageLedRed {
  color: hsl(0deg 100% 50%);
}

/* Just for the red LED */
.vintageLedOn .vintageLedInner,
.vintageLedOn .vintageLedReflection {
  box-shadow: 0 0 15px 5px hsl(0deg 100% 50% / 50%);
  opacity: 1;
}
