.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.switches {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  top: calc(var(--spacing-sm) * -1);
  left: calc(var(--spacing-md) * -1);
  width: fit-content;
}

.row {
  display: flex;
  gap: var(--spacing-xl);
}

.wheels {
  margin-left: var(--spacing-xl);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
