.sidePanel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-md) var(--spacing-xs) 0;
}

.sideSwitches {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: fit-content;
  height: 100%;
}

.row {
  display: flex;
  gap: var(--spacing-xl);
}

.wheels {
  position: relative;
  left: var(--spacing-xl);
  display: flex;
  gap: 55px;
  width: 100%;
  transform: translateY(calc(var(--spacing-xl) * 4));
}
