.backPanel {
  position: relative;
  z-index: 9;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 17.5rem;
  padding: 0.5rem 0 0 4rem;
  max-width: 100%;
  height: 2.75rem;
  background: url("./images/back-panel.png") bottom center;
  border-top: 2px solid hsl(24deg 41% 47%);
  border-right: 2px solid var(--color-black-25);
  border-left: 1px solid var(--color-black-25);
  border-radius: 5px;
  box-shadow: inset 0 0 10px 0 hsl(24deg 41% 47%);

  @media (width <= 768px) {
    height: 1.5rem;
    overflow: clip;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid var(--color-off-black);
    border-left: 0;
    border-radius: 0;
    box-shadow: inset 0 0 4px 0 hsl(0deg 0% 0% / 50%);

    * {
      z-index: -1;
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 5px;
    background: linear-gradient(to top, hsl(24deg 41% 7% / 75%), transparent);
    content: "";
  }

  &::after {
    position: absolute;
    top: 40px;
    left: -1px;
    z-index: 9;
    width: calc(100% + 3px);
    height: 10px;
    background: linear-gradient(to bottom, hsl(0deg 0% 0% / 75%), transparent);
    content: "";
  }
}

.midPanel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
  width: 100%;
  background: url("./images/mid-panel.png");
  border-right: 1px solid var(--color-off-black);
  box-shadow: inset 0 0 4px 0 hsl(0deg 0% 0% / 50%);

  @media (width <= 768px) {
    height: 0;
    overflow: clip;

    * {
      z-index: -1;
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 6px;
    background: linear-gradient(to top, hsl(0deg 0% 0% / 50%), transparent);
    content: "";
  }
}

.frontPanel {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  background: url("./images/back-panel.png") no-repeat center center;
  background-size: cover;
  box-shadow: inset 0 0 10px 0 hsl(0deg 0% 0% / 50%);
  content: "";
  filter: brightness(0.85);
}
