.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.oscModSwitch {
  position: absolute;
  top: var(--spacing-xl);
  right: calc(var(--spacing-md) * -1);
}
