.keyboardPanel {
  display: flex;

  &::after,
  &::before {
    position: absolute;
    bottom: 1.6rem;
    z-index: 9;
    width: 20px;
    height: 220px;
    content: "";
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, hsl(0deg 0% 0% / 50%), transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, hsl(0deg 0% 0% / 50%), transparent);
  }
}
