.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}

.row {
  display: flex;
  gap: 12px;
  padding-left: 26px;
  width: 100%;
}
