.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-right: 2px solid var(--color-text-secondary);
}

.row {
  display: flex;
  gap: 12px;
  padding-left: 26px;
  width: 100%;
}
