@import url("./fonts.css");

/********************  */

/* Global styles */

/********************  */

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
  font-size: var(--font-size-sm);
  font-weight: 600;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}

/********************  */

/* Utility classes */

/********************  */

.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.disabled {
  opacity: 0.5;
  /* pointer-events: none; */
  cursor: not-allowed;
}
