/********************  */

/* Global styles */

/********************  */

body {
  background-color: var(--color-background);
  color: var(--color-off-white);
  font-family: var(--font-primary);
  font-weight: 600;

  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-right: 2px solid var(--color-off-white);
}

/********************  */

/* Utility classes */

/********************  */

.sr-only:not(:focus, :active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.flex {
  display: flex;
}
