:root {
  /* Color System */
  --color-background: hsl(0deg 0% 10%);
  --color-synth-bg: hsl(240deg 50% 10%);
  --color-off-black: hsl(0deg 0% 5%);
  --color-off-white: hsl(0deg 0% 100% / 60%);
  --color-text-primary: hsl(0deg 0% 60%);

  /* Spacing System */
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;

  /* Typography */
  --font-primary: "Futura", sans-serif;
  --font-size-xs: 0.4875rem;
  --font-size-sm: 0.5512rem;
  --font-size-md: 0.6625rem;
  --font-size-lg: 1rem;
}
