/********************  */

/* Variables */

/********************  */

:root {
  /* Color System */
  --color-background: hsl(0deg 0% 10%);
  --color-off-black: hsl(0deg 0% 5%);
  --color-off-white: hsl(0deg 0% 100% / 60%);

  /* Synth UI Colors */
  --synth-borders: hsl(218deg 40% 10%);

  /* Spacing System */
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 1.5rem;

  /* Typography */
  --font-primary: "Urbanist", -apple-system, blinkmacsystemfont, "Segoe UI",
    roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-size-xxs: 0.4875rem;
  /* --font-size-xxs: 0.5625rem; */
  --font-size-xs: 0.4875rem;
  /* --font-size-xs: 0.625rem; */
  --font-size-sm: 0.6625rem;
  /* --font-size-sm: 0.75rem; */
  --font-size-md: 0.75rem;
  /* --font-size-md: 0.875rem; */
  /* --font-size-lg: 0.875rem; */
  --font-size-lg: 1.5rem;
  /* --font-size-xl: 1.5rem; */

  /* Transitions */
  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;
  --transition-slow: 0.4s ease;
}
