:root {
  /* Color System */
  --color-background: hsl(0deg 0% 10%);
  --color-off-black: hsl(0deg 0% 6.25%);
  --color-gray-xd: hsl(0deg 0% 15%);
  --color-gray-d: hsl(0deg 0% 25%);
  --color-gray: hsl(0deg 0% 50%);
  --color-gray-l: hsl(0deg 0% 75%);
  --color-gray-xl: hsl(0deg 0% 87.5%);
  --color-off-white: hsl(0deg 0% 93.75%);
  --color-white-75: hsl(0deg 0% 100% / 75%);
  --color-white-50: hsl(0deg 0% 100% / 50%);
  --color-white-40: hsl(0deg 0% 100% / 40%);
  --color-white-30: hsl(0deg 0% 100% / 30%);
  --color-white-25: hsl(0deg 0% 100% / 25%);
  --color-white-15: hsl(0deg 0% 100% / 15%);
  --color-white-10: hsl(0deg 0% 100% / 10%);
  --color-white-05: hsl(0deg 0% 100% / 5%);
  --color-black-75: hsl(0deg 0% 0% / 75%);
  --color-black-50: hsl(0deg 0% 0% / 50%);
  --color-black-40: hsl(0deg 0% 0% / 40%);
  --color-black-30: hsl(0deg 0% 0% / 30%);
  --color-black-25: hsl(0deg 0% 0% / 25%);
  --color-black-10: hsl(0deg 0% 0% / 10%);
  --color-black-05: hsl(0deg 0% 0% / 5%);
  --color-text-primary: hsl(0deg 0% 75%);

  /* Spacing System */
  --spacing-xxs: 0.0625rem;
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.5rem;
  --spacing-lg: 0.75rem;
  --spacing-xl: 1rem;

  /* Typography */
  --font-primary: "Futura", sans-serif;
  --font-size-xxs: 0.4rem;
  --font-size-xs: 0.4375rem;
  --font-size-sm: 0.4875rem;
  --font-size-md: 0.582rem;
  --font-size-lg: 1.2rem;

  /* Synth */
  --color-synth-bg: var(--color-gray-xd);
  --color-synth-border: var(--color-gray-xd);
}
