.title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--font-size-lg);
  font-weight: 500;
  text-transform: uppercase;
}

.small {
  height: calc(var(--font-size-lg) + var(--spacing-sm));
  font-size: var(--font-size-sm);
  font-weight: 800;
  letter-spacing: 0.05em;
}

.medium {
  height: calc(var(--font-size-md) + var(--spacing-md));
  font-size: var(--font-size-md);
  font-weight: 800;
}

.large {
  font-size: var(--font-size-lg);
  font-weight: 300;
  letter-spacing: 0.05em;
}
