.logo {
  position: relative;
  top: 0;
  right: 0;
  z-index: 111;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  opacity: 0.85;
  mix-blend-mode: exclusion;
  padding: var(--spacing-sm);

  img {
    width: 50%;
  }
}
