.horizontalRockerSwitch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: var(--switch-width);
  transition: all 0.3s ease-in-out;
  user-select: none;

  --switch-width: 2.75rem;
  --switch-height: 1rem;
  --switch-depth: -0.625rem;
  --switch-gloss-img: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDAgMTIwIj4KICA8cmVjdCBmaWxsPSIjZmZmIiBvcGFjaXR5PSIwLjEiIHk9IjcwIiB3aWR0aD0iMjUwIiBoZWlnaHQ9IjgwIi8+Cjwvc3ZnPgo=");
}

.control {
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--color-synth-border);
  border: 1.5px solid var(--color-synth-border);
  border-bottom: 1.5px solid var(--color-synth-border);
  border-top: 1px solid var(--color-synth-border);
  border-radius: 0.15rem;
  cursor: pointer;
  transform: rotate(180deg);
  perspective: 12em;
  box-shadow: 0 1px 1px hsl(0deg 0% 10% / 50%);
}

.control::before,
.control::after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-position: center center, 100% 0;
  background-size: 100% 100%, 300% 100%;
  background-repeat: no-repeat, no-repeat;

  transition: all 0.2s ease-in-out;
  will-change: transform;
}

.control::before {
  width: 55%;
  left: 2.5%;
  border-radius: 0.125rem 0 0 0.125rem;
  transform: rotateY(55deg);
  content: "";
  transform-origin: 100% 50%;
}
.state:checked ~ .control::before {
  width: 50%;
  left: 0;
}

.control::after {
  width: 45%;
  right: 0;
  border-left: none;
  border-radius: 0 0.125rem 0.125rem 0;
  box-shadow: 0 0 0 0 hsl(0deg 0% 74%);
  transform: rotateY(0);
  content: "";
  transform-origin: 0 50%;
}

.state:checked ~ .control::after {
  width: 50%;
  right: 0;
}

.state {
  display: none;
}

/* Black Theme */

.black .control::before,
.black .control::after {
  border: none;
}

.black .control::before {
  background-image: var(--switch-gloss-img),
    linear-gradient(to right, hsl(0deg 0% 15%), hsl(0deg 0% 25%));
  box-shadow: var(--switch-depth) 0 0 0 hsl(0deg 0% 35%);
}

.black .control::after {
  background-image: var(--switch-gloss-img),
    linear-gradient(to left, hsl(0deg 0% 15%), hsl(0deg 0% 25%));
  box-shadow: 0 0 0 0 hsl(0deg 0% 35%);
}

/* Orange Theme */

.orange .control::before,
.orange .control::after {
  border: none;
}

.orange .control::before {
  background-image: var(--switch-gloss-img),
    linear-gradient(to right, hsl(24deg 100% 41%), hsl(28deg 79% 52%));
  box-shadow: var(--switch-depth) 0 0 0 hsl(24deg 100% 31%);
}

.orange .control::after {
  background-image: var(--switch-gloss-img),
    linear-gradient(to left, hsl(24deg 100% 41%), hsl(28deg 79% 52%));
  box-shadow: 0 0 0 0 hsl(24deg 100% 31%);
}

/* White Theme */

.white .control::before,
.white .control::after {
  border: none;
}

.white .control::before {
  background-image: var(--switch-gloss-img),
    linear-gradient(to right, hsl(0deg 0% 74%), hsl(0deg 0% 65%));
  box-shadow: var(--switch-depth) 0 0 0 hsl(0deg 0% 75%);
  border-left-color: hsl(0deg 0% 82%);
}

.white .control::after {
  background-image: var(--switch-gloss-img),
    linear-gradient(to left, hsl(0deg 0% 74%), hsl(0deg 0% 65%));
  box-shadow: 0 0 0 0 hsl(0deg 0% 75%);
}

/* Blue Theme */

.blue .control::before,
.blue .control::after {
  border: none;
}

.blue .control::before {
  background-image: var(--switch-gloss-img),
    linear-gradient(to right, hsl(195deg 100% 50%), hsl(199deg 92% 75%));
  box-shadow: var(--switch-depth) 0 0 0 hsl(195deg 100% 40%);
}

.blue .control::after {
  background-image: var(--switch-gloss-img),
    linear-gradient(to left, hsl(195deg 100% 50%), hsl(199deg 92% 75%));
  box-shadow: 0 0 0 0 hsl(195deg 100% 40%);
}

/* Base State Styles */
.state:checked ~ .control::before,
.state:checked ~ .control::after {
  background-position: center center, 0 0;
}

.state:checked ~ .control::before {
  border-right: none;
  box-shadow: 0 0 0 0 hsl(0deg 0% 74%);
  transform: rotateY(0);
  border-left-color: hsl(0deg 0% 88%);
}

.state:checked ~ .control::after {
  border-left: none;
  box-shadow: 0.975em 0 0 0 hsl(0deg 0% 74%);
  transform: rotateY(-55deg);
  border-right-color: hsl(0deg 0% 93%);
}

/* Black Theme State */
.black .state:checked ~ .control::before {
  box-shadow: 0 0 0 0 hsl(0deg 0% 35%);
  border-left-color: hsl(0deg 0% 20%);
}

.black .state:checked ~ .control::after {
  box-shadow: 0.975em 0 0 0 hsl(0deg 0% 35%);
  border-right-color: hsl(0deg 0% 45%);
}

/* Orange Theme State */
.orange .state:checked ~ .control::before {
  box-shadow: 0 0 0 0 hsl(24deg 100% 31%);
  border-left-color: hsl(28deg 79% 52%);
}

.orange .state:checked ~ .control::after {
  box-shadow: 0.975em 0 0 0 hsl(24deg 100% 31%);
  border-right-color: hsl(6deg 63% 46%);
}

/* Blue Theme State */
.blue .state:checked ~ .control::before {
  box-shadow: 0 0 0 0 hsl(195deg 100% 40%);
  border-left-color: hsl(199deg 92% 75%);
}

.blue .state:checked ~ .control::after {
  box-shadow: 0.975em 0 0 0 hsl(195deg 100% 40%);
  border-right-color: hsl(195deg 100% 60%);
}

/* White Theme State */
.white .state:checked ~ .control::before {
  border-radius: 0.1rem 0 0 0.1rem;
  box-shadow: 0 0 0 0 hsl(0deg 0% 75%);
}

.white .state:checked ~ .control::after {
  border-radius: 0 0.1rem 0.1rem 0;
  box-shadow: 0.975em 0 0 0 hsl(0deg 0% 75%);
}

/* LABELS */

.topLabel {
  position: relative;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  width: var(--switch-width);
  height: fit-content;
  font-size: var(--font-size-xs);
  font-weight: 800;
  text-transform: uppercase;

  .left {
    height: 0;
    text-align: left;
  }

  .center {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--color-synth-bg);
    font-size: var(--font-size-sm);
    text-align: center;
  }

  .right {
    width: 100%;
    text-align: right;
  }
}

.leftLabel {
  position: absolute;
  left: calc(var(--spacing-sm) * -1);
  display: flex;
  margin-bottom: var(--spacing-md);
}

.bottomLabel {
  position: relative;
  display: flex;
  gap: 10px;
  margin-top: 4px;
  width: var(--switch-width);
  font-size: var(--font-size-xs);
  font-weight: 800;
  text-transform: uppercase;
  white-space: nowrap;

  .left {
    text-align: left;
  }

  .center {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--color-synth-bg);
    font-size: var(--font-size-sm);
    text-align: center;
    white-space: wrap;
  }

  .right {
    width: 100%;
    text-align: right;
  }
}
