.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subSectionTitle {
  margin-left: 16px;
  color: hsl(0deg 0% 100%);
  font-size: 14px;
  font-weight: 500;
}

.row {
  display: flex;
  align-items: center;
  gap: 8px;
}
