.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subSectionTitle {
  font-size: var(--font-size-lg);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-sm);
  width: 100%;
}
