.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgb(166 255 0);

  &:last-of-type {
    border-top: 2px solid var(--color-off-white);
  }
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.label {
  position: relative;
  left: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 8ch;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.filterSwitches {
  position: absolute;
  top: 56px;
  left: -40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.modSwitch {
  position: relative;
  top: -10px;
}
