.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-sm);
  width: 100%;
  border: 1px solid yellow;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: var(--font-size-xs);
  font-weight: 900;
  text-transform: uppercase;
}

.subSectionTitle {
  font-size: var(--font-size-lg);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.label {
  position: relative;
  left: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 8ch;
  font-size: var(--font-size-xs);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.subSectionTitle {
  font-size: var(--font-size-lg);
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.modSwitches {
  position: absolute;
  top: 56px;
  left: -40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 14px;
}

.modSwitch {
  position: relative;
  top: -10px;
}
