.overloadContainer {
  --overload-size: 12px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--overload-size);
  height: var(--overload-size);
  left: 15%;
  &.disabled {
    opacity: 0.5;
  }
}

.overloadLabel {
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: calc(var(--overload-size) * 4);
}

.overload {
  position: relative;
  z-index: 1;
  width: var(--overload-size);
  height: var(--overload-size);
  background-color: hsl(0deg 0% 13%);
  border-radius: 50%;
  box-shadow: inset 0 0 2.5px hsl(0deg 0% 0%), 0 1px 1px hsl(0deg 0% 34%);
  transition: all 0.1s ease-out;

  &::before {
    position: absolute;
    z-index: -1;
    background: radial-gradient(
      circle at center,
      hsl(0deg 100% 50% / calc(var(--glow-intensity) * 0.5)) 0%,
      transparent 70%
    );
    border-radius: 50%;
    opacity: var(--glow-intensity);
    transition: opacity 0.1s ease-out;
    content: "";
    inset: -4px;
  }
}

.overload:not([style*="--glow-intensity: 0"]) {
  background-color: hsl(0deg 100% calc(var(--glow-intensity) * 50%));
  box-shadow: inset 0 0 2.5px hsl(0deg 0% 0%), 0 1px 1px hsl(0deg 0% 34%),
    0 0 calc(var(--glow-intensity) * 20px) hsl(0deg 100% 50%),
    0 0 calc(var(--glow-intensity) * 40px) hsl(0deg 100% 50% / 50%);
  filter: brightness(calc(1 + var(--glow-intensity) * 0.5));
}

.overloadBackground {
  position: absolute;
  z-index: 10000;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--overload-size) * 2.5);
  height: calc(var(--overload-size) * 2.5);
  background: hsl(0deg 0% 10%);
  border-top: 1px solid hsl(215deg 10% 45%);
  border-radius: 50%;

  &::after {
    position: absolute;
    background: linear-gradient(
      to bottom,
      hsl(0deg 0% 70% / 50%) 0%,
      hsl(0deg 0% 25% / 50%) 35%,
      hsl(0deg 0% 0% / 50%) 55%,
      hsl(0deg 0% 5% / 100%) 100%
    );
    border-radius: 50%;
    content: "";
    inset: 0;
    pointer-events: none;
  }
}
