.section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.75rem;
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 20%),
    hsl(0deg 0% 17.5%) 50%,
    hsl(0deg 0% 20%) 90%,
    hsl(0deg 0% 17.5%)
  );
  border-right: 2px solid var(--color-white-50);
}
