.section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.75rem;
  border-right: 2px solid var(--color-white-50);
  background: linear-gradient(
    to bottom,
    hsl(0deg, 0%, 20%),
    hsl(0deg, 0%, 20%) 2.5%,
    hsl(0deg, 0%, 17.5%) 50%,
    hsl(0deg, 0%, 20%) 90%,
    hsl(0deg, 0%, 17.5%)
  );
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      hsl(0deg, 0%, 0%),
      hsl(0deg, 0%, 20%) 2.5%,
      hsl(0deg, 0%, 17.5%) 50%,
      hsl(0deg, 0%, 20%) 90%,
      hsl(0deg, 0%, 17.5%)
    );
    background: var(--color-off-black);
    height: 10px;
    z-index: 9999;
    filter: blur(10px);
    /* opacity: 0.5; */
  }
}

.blur {
  width: 98%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 1%;
  z-index: 9;
  background: var(--color-off-black);
  opacity: 0.25;
  filter: blur(8px);
}
