.synthContainer {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  background: url("/images/minimoog-template.png") no-repeat center center;
  background-size: cover;
  aspect-ratio: 16 / 9;
  user-select: none;
}

.synthSides {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 2.4%;
  height: 100%;
  background: hsl(0deg 0% 50% /25%);
}

.synth {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controlsPanel {
  display: flex;
  width: 100%;
  min-height: 580px;
}

.keyboardPanel {
  display: flex;
}

@media (width <= 1024px) {
  .synthContainer {
    flex-direction: column;
    height: auto;
    aspect-ratio: auto;
  }

  .synthSides {
    border-right: 19px solid var(--color-off-black);
    border-left: 19px solid var(--color-off-black);
  }

  .controlsContainer {
    flex-direction: column;
    min-height: auto;
  }
}
