.synthContainer {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 100%;
  /* background-image: url("/images/minimoog-template-25.png"); */
  background-color: var(--color-synth-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  aspect-ratio: 16/9;
  width: 1200px;
  max-width: 100%;
}

.synth {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 675px;

  &::after {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.25rem;
    background: url("/images/mid-panel-2.png") no-repeat center center;
    filter: brightness(0.75);
  }
}

.backPanel {
  position: relative;
  height: 4.75rem;
  background: url("/images/back-panel3.png") no-repeat center center;
}

.controlsPanel {
  position: relative;
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  /* background: var(--color-synth-bg); */
  overflow: hidden;
}

.keyboardPanel {
  display: flex;
}

/* @media (width <= 1024px) {
} */
