.synthContainer {
  width: 100%;
  max-width: 1600px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: url("/images/minimoog-template.png") no-repeat center center;
  background-size: cover;
  display: flex;
  user-select: none;
}

.synthSides {
  width: 100%;
  border-right: 32px solid var(--color-off-black);
  border-left: 32px solid var(--color-off-black);
}

.controlsContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  min-height: 570px;
}

.keyboardContainer {
  display: flex;
  overflow: clip;
}
