.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;

  /* gap: var(--spacing-lg); */
  padding-right: 10px;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-sm);

  /* border: 1px solid yellow; */

  &:not(:last-child) {
    padding-left: 37px;
  }
}
