.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-around;
  gap: var(--spacing-sm);
  width: 100%;

  &:not(:last-child) {
    padding-left: 37px;
  }
}

.oscModulation {
  position: absolute;
  top: 30%;
  left: -24px;
  width: fit-content;
}

.rowColTitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rowTitle {
  font-size: 12px;
  font-weight: 600;
  color: var(--color-text-secondary);
}

.colTitle {
  font-size: 12px;
  font-weight: 600;
}
