.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  gap: var(--spacing-lg);
  padding-right: 10px;
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-left: 37px;
  }

  &:last-child {
    margin-top: -40px;
  }

  &:nth-child(3) {
    margin-top: -20px;
  }
}
